/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '~@angular/material/theming';

@include mat-core();

$mymotel-primary:  (
    50 : #f0f9f8,
    100 : #d9efed,
    200 : #c0e5e2,
    300 : #a6dbd6,
    400 : #93d3cd,
    500 : #80cbc4,
    600 : #78c6be,
    700 : #6dbeb6,
    800 : #63b8af,
    900 : #50aca2,
    A100 : #ffffff,
    A200 : #d9fffb,
    A400 : #a6fff5,
    A700 : #8cfff2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$mymotel-accent: (
    
50 : #fbfdfd,
100 : #f6fbfb,
200 : #f0f9f8,
300 : #e9f6f5,
400 : #e5f4f3,
500 : #e0f2f1,
600 : #dcf0ef,
700 : #d8eeed,
800 : #d3eceb,
900 : #cbe8e7,
A100 : #ffffff,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
contrast: (
50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #000000,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
        )
    );
    


$mymotel-primary: mat-palette($mymotel-primary, 700, 300, 900);
$mymotel-accent:  mat-palette($mymotel-accent, 800, 600, 900);

$mymotel-warn:    mat-palette($mat-red);


$mymotel: mat-light-theme($mymotel-primary,$mymotel-accent,$mymotel-warn);

@import './app/navigation/navtabs/navtabs.component.scss';
@include angular-material-theme($mymotel);
@include navtabs-component-theme($mymotel);

.mat-action-list .mat-list-item:focus, 
.mat-action-list .mat-list-item:hover,
.mat-list-option:focus, .mat-list-option:hover,
.mat-nav-list .mat-list-item:focus, 
.mat-nav-list .mat-list-item:hover{
    background-color: mat-color($mymotel-accent, 800);
   
}