<div class="container">
    <div class="book-container">

        <div flFlex fxLayoutAlign="flex-end">
            <button class="book-button" mat-stroked-button color="primary">
                Book
            </button>
        </div>

    </div>

    <div class="header-container" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
        <div>
            <!--  <h1 class="mat-headline">
                Beach Resort &amp; Spa
            </h1> -->
        </div>

    </div>
    <div class="maldives">
        <h3>Maldives</h3>
    </div>

</div>

<section class="home-section">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <h2 class="mat-subheading-2">Beach Resort</h2>
        </div>
        <div>
            <h3 class="mat-subheading-3">Asia's Tropical Paradise</h3>
        </div>
        <div>
            <p class="mat-body-1" fxFlex="70" fxFlexOffset="15">
                Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage
                is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's
                De Finibus Bonorum et Malorum for use in a type specimen book.
            </p>
        </div>
    </div>
    <div class="rooms" fxLayout.xs="column" fxFlexLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center center">
        <mat-card class="room-suites" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Rooms &amp; Suites</h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">
                    Explore
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="beach-house" fxFlex="40" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <h2>Beach Houses</h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary">
                    Explore
                </button>
            </mat-card-actions>
        </mat-card>
    </div>


</section>